{% extends 'index.html' %}
{% block title %} Freelancers   {% endblock %}

{% block css %}
{% endblock %}
{% block body %}
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">
        <br><br><br>
<div class="row">
    <div class="col-md-5">
        <img src="{{k.image.url}}" alt="" width="350px" height="250px">
    </div>
    <div class="col-md-6">
        <h2>{{k.user.get_full_name}}</h2>
        <p>{{k.email}}</p>
        <p>{{k.sexe}}</p>
        <p>{{k.telephone}}</p> 
        <i class="fa fa-map-marker">{{k.experience}} ans d'experience</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <strong>Salaire : <i class="fa fa-inr mr-2"></i>MRU {{k.email}}/mois</strong>
        
    </div>
</div>
<div class="mt-4">
    {% for l in lm%}

    
    <p>{{l.langue.nom}}</p>

    {% endfor %}
    
</div>
</div>
{% endblock %}