{% extends 'index.html' %}
{% block title %} Freelancers   {% endblock %}

{% block css %}
{% endblock %}
{% block body %}
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>C'est comment? </h2>
          <p>Lors que vous selectionné votre freelancer, vous pouvez lui contacter sur son email, numéro téléphone ou whatsapp.</p>
        </div>
  <div class="container">
                <form  action="" method="POST" novalidate="novalidate">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-5 col-md-3 col-sm-12 p-0">
                                    <input type="text" name="motcle" class="form-control search-slt" placeholder="Langue ou mot clé">
                                </div>
                                <div class="col-lg-5 col-md-3 col-sm-12 p-0">
                                    <select class="form-control search-slt">
                                        <option>choisir le classement</option>
        <!--                               4 stars and up -->
                                        <option>
                                          <a><p>&#9733; &#9733; &#9733; &#9733; &#x2606;</p></a href="#">
                                        </option>
        <!--                               3 stars and up -->
                                        <option>
                                            <a><p>&#9733; &#9733; &#9733; &#x2606; &#x2606;</p></a href="#">
                                        </option>
          <!--                               2 stars and up -->
                                        <option>
                                            <a><p>&#9733; &#9733; &#x2606; &#x2606; &#x2606;</p></a href="#">
                                        </option>
          <!--                               1 star and up -->
                                        <option>
                                            <a><p>&#9733; &#x2606; &#x2606; &#x2606; &#x2606;</p></a href="#">
                                        </option>
                                    </select>
                                </div>
                                <div class="col-lg-2 col-md-4 ">
                                    {% comment %} <button type="button" class="btn btn-succes">Chercher</button> {% endcomment %}
                                    <button type="submit" value="Submit" style="background-color:rgb(71, 177, 253); height:50px; width:150px">Chercher</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
     {% for c in c_emplois %}
            <div class="swiper-slide">
              <div class="testimonial-item">
               
                <img src="{{c.image.url}}" class="testimonial-img" alt="">
                <h3>{{c.user.first_name}} {{c.user.last_name}}</h3>
                <h4>{{c.user.email}}</h4>
				<h4>{{c.description}}</h4>
				<h4>{{c.experience}} ans d'experience</h4>
				<h4>{{c.telephone}}</h4>
			   
							   
                 {% comment %} <button type="submit" value="Submit" style="background-color:rgb(71, 177, 253); height:50px; width:150px">Détails</button> {% endcomment %}
				<a href="/detailfreelancer/{{c.id}}" class="btn btn-success"> Détails</a>
			 
              </div>
            </div><!-- End testimonial item -->
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->
    {% endblock %}