{% extends 'admin_navbar.html' %}

{% block title %} Approuver une entreprise {% endblock %}
{% block deposer_form %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<form method="POST"> {% csrf_token %}
    <div class="container mt-5">
        <div class="mb-3">
            <label for="username" class="form-label"><i style="font-weight: bold;"> Nom de l'entreprise</i></label>
            <input type="text" class="form-control" id="company_name" name="nom_entreprise" value="{{entreprise.nom_entreprise}}">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label"><i style="font-weight: bold;">Status</i></label>
            <select name="status" id="status" class="form-control">
                <option value="Accepted">Accepter l'entreprise</option>
                <option value="Rejected">Rejeter l'entreprise</option>
            </select>
        </div>
        <br>
        <input type="submit" value="Submit" class="btn" style="background-color: #4f868c; color: white;font-size: larger; width: 8rem;">

    </div>
</form>
{% endblock %}
{% block js %}
<script>
    {% if alert %}
    alert("Le status a été changé avec succées.");
    window.location.href = "/tous_les_entreprises"
    {% endif %}
</script>
{% endblock %}