{% extends 'user_navbar.html' %}

{% block title %} Details du travail {% endblock %}
{% block liste_des_annonces %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-4 shadow-lg py-3 mb-4">
<div class="row">
    <div class="col-md-5">
        <img src="{{travail.image.url}}" alt="" width="350px" height="250px">
    </div>
    <div class="col-md-6">
        <h2>{{travail.titre}}</h2>
        <p>{{travail.entreprise.nom_entreprise}}</p>
        <i class="fa fa-map-marker">{{travail.adresse}}</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-calendar">{{travail.date_depot}}</i>
        <br>
        <strong>Salaire : <i class="fa fa-inr mr-2"></i>MRU {{travail.salaire}}/mois</strong>
        <div class="mt-3">
            <a href="/deposer_pour_emploi/{{travail.id}}/" class="btn btn-danger">Deposer pour le travail</a>
        </div>
    </div>
</div>
<div class="mt-4">
    <h3>Desc</h3>
    <p>{{travail.description}}</p>

    <h4>Experience</h4>
    <p>{{travail.experience}} années</p>

    <h4>Skills </h4>
    <p>{{travail.skills}}</p>

    <h4>Date debut</h4>
    <p>{{travail.date_debut}}</p>

    <h4>Date fin</h4>
    <p>{{travail.date_fin}}</p>
</div>
</div>
{% endblock %}