{% extends 'admin_navbar.html' %}

{% block title %} Les entreprises rejetés {% endblock %}
{% block travail_form %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-4">
<table class="table table-hover" id="example">
    <thead>
        <tr>
            <th>Numero</th>
            <th>Nom directeur</th>
            <th>Email</th>
            <th>Contact</th>
            <th>sexe</th>
            <th>Nom entreprise</th>
            <th>Image</th>
            <th>Status</th>
            <th>Changee Status</th>

        </tr>
    </thead>
    <tbody>
   
        {% for entreprise in entreprises %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{entreprise.user.get_full_name}}</td>
            <td>{{entreprise.user.email}}</td>
            <td>{{entreprise.telephone}}</td>
            <td>{{entreprise.sexe}}</td>
            <td>{{entreprise.nom_entreprise}}</td>
            <td><img src="{{entreprise.image.url}}" class="rounded-circle" width="90px" height="70px"></td>
            <td>{{entreprise.status}}</td>
            <td><a href="/change_status/{{entreprise.id}}/" class="btn btn-secondary">Changer Status</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}