{% extends 'basic.html' %}

{% block title %} recherche d'emploi {% endblock %}
{% block home %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
{% load static %}   
<div class="container-fluid mt-2">
    <img src="{% static 'im.jpg' %}" alt="" width="100%" height="450px">
</div>
    <div class="container-fluid mt-2" style="background-color: #4f868c; width: 100%;">
        <div class="row">
            <div class="col-md-4">
                <h3 style="color: aliceblue;">Nous contactez</h3>
                <p style="color: aliceblue">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mbeirouck@gmail.com</p>
                <p style="color: aliceblue">Numero Telephone : &nbsp;&nbsp;00222-37419845</p>
            </div>
        </div>
    </div>
    
{% endblock %}
