{% extends 'basic.html' %}

{% block title %} Creation du compte pour un chercheur d'emploi {% endblock %}
{% block connexion_chercheur_emploi %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<form class="container mt-4" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
   
    <div class="row">
        <div class="form-group col-md-4">
            <label> <h4 style="color: red;">{{ msg }}</h4> </label>
         </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label>Nom</label>
            <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Entrer votre nom" required>
        </div>
        <div class="form-group col-md-4">
            <label>Prenom</label>
            <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Entrer votre prenom" required>
        </div>
        <div class="form-group col-md-4">
            <label>Nom d'utilisateur</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Entrer votre nom d'utilisateur" required>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="form-group col-md-6">
            <label>Mot de passe</label>
            <input type="password" class="form-control" name="password1" id="password1" placeholder="Entrer votre mot de passe" required>
        </div>
        <div class="form-group col-md-6">
            <label>Confirmer le mot de passe</label>
            <input type="password" class="form-control" name="password2" id="password2" placeholder="Confirmer le mot de passe" required>
        </div>
    </div>

    <div class="row mt-4">
        <div class="form-group col-md-4">
            <label>Email </label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Entrer votre email" required>
        </div>
        <div class="form-group col-md-4">
            <label>numero telephone</label>
            <input type="tel" class="form-control" name="telephone" id="phone" placeholder="Entrer le numero du telephone" pattern="\d*"  title="seulement les numéros" minlength="8" required>
        </div>
        <div class="form-group col-md-4">
            <label>Experience (en années)</label>
            <input type="text" class="form-control" name="experience" id="experience" placeholder="Experience required (in years)" required>
        </div>
    </div>
    <div class="row mt-3">
        <div class="form-group col-md-6">
            <label>Skills </label>
            <input type="text" class="form-control" name="skills" id="skills" placeholder="les skills obligatoires" required>
        </div>
        
        <div class="form-group col-md-6">
            <label>adresse</label>
            <input type="text" class="form-control" name="adresse" id="location" placeholder="Entrer l'adresse" required>
        </div>
    </div>

    <div class="row mt-4">
        <div class="form-group col-md-6">
            <label>sexe</label>
            <div style="border: 1px solid lightgrey; padding: 5px; border-radius: 6px;">
            <div class="form-check form-check-inline">
                <input type="radio" class="custom-control-input" name="sexe" id="male" value="Male">
                <label for="male" class="custom-control-label">Homme</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="custom-control-input" name="sexe" id="female" value="Female">
                <label for="female" class="custom-control-label">Femme</label>
            </div>
        </div>
        </div>
        <div class="form-group col-md-6">
            <label>Photo du profile</label>
            <input type="file" class="form-control" name="image" id="image" placeholder="votre photo">
        </div>
    </div> 


    <div class="row mt-3">
        <div class="form-group col-md-12">
            <label>Description</label>
           <textarea name="description" id="description" class="form-control" cols="30" rows="4" placeholder="la description doit etre detaillées" required></textarea>
        </div>
    </div>
    <br>
<input type="submit" value="Submit" class="btn" style="background-color: #4f868c; color: white; font-size: larger; width: 8rem;">
</form>
{% endblock %}