{% extends 'user_navbar.html' %}

{% block title %} Listes des annonces des recrutements {% endblock %}
{% block liste_des_annonces %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-4">
<table class="table table-hover" id="example">
    <thead>
        <tr>
            <th>Numero</th>
            <th>Nom entreprise</th>
            <th>Titre</th>
            <th>salaire</th>
            <th>Adresse</th>
            <th>Date de creation</th>
            <th>deposer</th>
        </tr>
    </thead>
    <tbody>
        {% for travail in travail %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{travail.entreprise.nom_entreprise}}</td>
            <td>{{travail.titre}}</td>
            <td>{{travail.salaire}}</td>
            <td>{{travail.adresse}}</td>
            <td>{{travail.date_creation}}</td>

            {% if travail.id in data %}
            <td><a class="btn btn-success">deposer sur</a></td>
            {% else %}
            <td><a href="/detail_annonce/{{travail.id}}/" class="btn btn-success">deposer</a></td>
            {% endif %}
        </tr>
        {% endfor %}
        {% for cc in c %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{cc}}</td>
            
        </tr>
        {% endfor %} 
    
    </tbody>
</table>
</div>
{% endblock %} 