{% extends 'company_navbar.html' %}

{% block title %}  Liste des annonces {% endblock %}
{% block liste_des_annonces %} active {% endblock %}
{% block travail_form %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}

<div class="main-content">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row align-items-end">
                <div class="col-lg-8">
                    <div class="page-header-title">
                        <i class="ik ik-inbox bg-blue"></i>
                      
                    </div>
                </div>
           
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header"><h3>Les annonces</h3></div>
                    <div class="card-body">
                        <table id="data_table" class="table">
    <thead>
        <tr>
            <th>Numero</th>
            <th>Titre</th>
            <th>creer en</th>
            <th>Action</th>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody>
        {% for travail in travails %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{travail.titre}}</td>
            <td>{{travail.date_creation}}</td>
            <td><a href="/modifier_annonce/{{travail.id}}/" class="btn"><i class="fa fa-edit"></i></a></td>
            <td><a href="#" class="btn"><i class="fa fa-trash"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}