{% extends 'company_navbar.html' %}
 
{% block title %} Approuver une entreprise {% endblock %}
{% block travail_form %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<form class="container mt-3" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row">
        <div class="form-group col-md-12">
            <label>Titre</label>
            <input type="text" class="form-control mt-1" name="titre" id="job_title" value="{{travail.titre}}" readonly>
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="form-group col-md-12">
            <img src="{{travail.image.url}}" alt="" width="150px" height="100px">
        </div>
    </div>
    <div class="row mt-3">
        <div class="form-group col-md-12">
            <label>Logo de l'entreprise</label>
            <input type="file" class="form-control mt-2" name="logo" id="logo">
        </div>
    </div>

<input type="submit" value="Submit" class="btn btn-primary mt-2">
</form>
{% endblock %}
{% block js %}
<script>
    {% if alert %}
    alert("Le logo de l'entreprise a été bien modifiées")
    window.location = "/les_annonces_emploi"
    {% endif %}
</script>
{% endblock %}

