{% extends 'company_navbar.html' %}

{% block title %} Profile de l'entreprise {% endblock %}
{% block home %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-6">

            <form class="container mt-4" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Nom directeur</label>
                        <input type="text" class="form-control" name="first_name" id="first_name"
                            value="{{entreprise.user.first_name}}" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Prenom directeur</label>
                        <input type="text" class="form-control" name="last_name" id="last_name"
                        value="{{entreprise.user.last_name}}" required>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="form-group col-md-12">
                        <label>Nom d'utilisateur</label>
                        <input type="text" class="form-control" name="username" id="username"
                            value="{{entreprise.user.username}}" readonly>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="form-group col-md-12">
                        <label>Nom de l'entreprise</label>
                        <input type="text" class="form-control" name="nom_entreprise" id="company_name"
                            value="{{entreprise.nom_entreprise}}" readonly>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="form-group col-md-6">
                        <label>Email</label>
                        <input type="email" class="form-control" name="email" id="email" value="{{entreprise.user.email}}" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Numero telephone</label>
                        <input type="tel" class="form-control" name="telephone" id="phone" value="{{entreprise.telephone}}" required>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="form-group col-md-6">
                        <label>Sexe</label>
                        {% if entreprise.sexe == "Male" %}
                        <div style="border: 1px solid lightgrey; padding: 5px; border-radius: 6px;">
                            <div class="form-check form-check-inline">
                                <input type="radio" class="custom-control-input" name="sexe" value="Male" checked>
                                <label for="male" class="custom-control-label">Homme</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="custom-control-input" name="sexe"
                                    value="Female">
                                <label for="female" class="custom-control-label">Femme</label>
                            </div>
                        </div>
                        {% else %}
                        <div style="border: 1px solid lightgrey; padding: 5px; border-radius: 6px;">
                            <div class="form-check form-check-inline">
                                <input type="radio" class="custom-control-input" name="sexe" value="Male">
                                <label for="male" class="custom-control-label">Homme</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="custom-control-input" name="sexe"
                                    value="Female" checked>
                                <label for="female" class="custom-control-label">Femme</label>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Logo de l'entreprise</label>
                        <input type="file" class="form-control" name="image" id="image">
                    </div>
                </div>

                <input type="submit" value="Submit" class="btn mt-4" style="background-color: #4f868c; color: white; font-size: larger; width: 8rem;">
            </form>

        </div>
        <div class="col-sm-4 mt-5 text-center">
            <img src="{{entreprise.image.url}}" alt="" width="200px" height="200px">
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    {% if alert %}
    alert("Profile a été modifier avec succées")
    window.location = "/page_home_entreprise"
    {% endif %}
</script>
{% endblock %}

