{% extends 'index.html' %}
{% block title %} Les services  {% endblock %}

{% block css %}
{% endblock %}
{% block body %}

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">
  
          <div class="section-title">
            <br><br><br>
            <h2>Services</h2>
            <p>Les differentes specialités que nous couvrons</p>
          </div>
  
          <div class="row">
            <div class="col-md-6">
              <div class="icon-box">
                <i class="bi bi-briefcase"></i>
                <h4><a href="#">Front end Devellopers</a></h4>
                <p>(653)</p>
              </div>
            </div>
            <div class="col-md-6 mt-4 mt-lg-0">
              <div class="icon-box">
                <i class="bi bi-card-checklist"></i>
                <h4><a href="#">Codage & Developpement</a></h4>
                <p>(658)</p>
              </div>
            </div>
            <div class="col-md-6 mt-4">
              <div class="icon-box">
                <i class="bi bi-bar-chart"></i>
                <h4><a href="#">Devellopeurs mobile</a></h4>
                <p>(658)</p>
              </div>
            </div>
            <div class="col-md-6 mt-4">
              <div class="icon-box">
                <i class="bi bi-binoculars"></i>
                <h4><a href="#">Modélisation</a></h4>
                <p>(666)</p>
              </div>
            </div>
  
  
          </div>
  
        </div>
      </section><!-- End Services Section -->
      {% endblock %}